#container {
    width: 600px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#container >div{
        background-color: crimson;
        width: 100px;
        /*flex-grow: 1; */
        height: 100px;
        transition: height .2s linear;
}
#container >div:nth-child(2){
        background-color: darkgray;
        height: 50px;

}
#container >div:hover {
        background-color: yellowgreen;
       /* flex-grow: 1.5; */
       width: 150px;
}