html,body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#container {
        display: grid;
        min-width: 200px;
        min-height: 400px;
        width: 50%;
        height: 80%;
        background-color: aqua;
        margin: 20px auto 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
}
#container >div{
        font: normal 26pt sans-serif;
        color: aqua;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: black;
}
#container >div:hover{
        background-color: bisque !important;
}
